@media screen and (min-width: 639px) {
    header {
        display: flex;
        flex-wrap: nowrap;
        height: 80px;
        padding: 0 1rem;
    }

    #menu{
        display: none;
    }

    nav {
        position: relative;
        display: block;
        width: 80%;
        align-self: center;
    }
    
    .navigation {
        display: flex;
    }
    
    .navigation li {
        text-align: center;
        flex: 1 1 100%;
    }
    
    .navigation li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 8px 0;
    }

    .navigation li a:hover {
        color: #d21034;
        background-color: white;
        border-radius: 50px;
        transition: 0.8s;
    }
        
    .main { 
        max-width: 80%;
        margin: 1rem auto 3rem auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 25px;
        place-items: center;
    }

}