@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root {
    --background-color: #227a4d;
    --text-color: #ffffff;
}

* {
    margin: 0;
	padding: 0;
}

body{
    margin: auto;
    font-family: "Afacad Flux", serif;
}

header {
    display: flex;
    height: 140px;
    background-color: #d21034;
}

header h1 {
    color: var(--text-color);
    align-self: center;
    margin: auto;
    font-size: 35px;
}

.greenspace {
    background-color: #227a4d;
    padding: 50px;
}

.hero ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroleftside, .herorightside {
    background-color: #ffffffd2;
    text-align: center;
    border-bottom: 1px solid rgb(162, 162, 162);
    padding: 1rem 0;
}

.heroleftside h2, .weatherimage {
    position: relative;
    padding: 10px;
    margin-bottom:25px ;
    text-align: center;
}

.hero ul li {
    padding: 4px;
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family:"Afacad Flux", serif;
}

.weatherimage img{
    width: 40px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d21034;
    padding: 10px;
    height: 120px;
}

footer p {
    text-align: center;
    color: var(--text-color);
}

#currentyear {
    color: white;
}

@media screen and (min-width: 640px) {

    header h1 {
        font-size: 70px;
    }

    .hero {
        position: relative;
    }

    .green {
        width: 100%; 
        height: 20px; 
        background-color: #227a4d;
    }

    .hero img{
        display: block;
    }
    
    .heroleftside {
        background-color: rgba(255, 255, 255, 0.822);
        position: absolute;
        top: 10%;
        left: 5%;
        padding: 0;
        margin-left: -30px;
    }
    
    .heroleftside h2, .weatherimage {
        text-align: left;
        position: relative;
        right: 7px;
        top: 10px;
        padding: 10px;
        margin-bottom:25px ;
        background-color: var(--background-color);
    }

    .heroleftside h2, .herorightside h2 {
        color: white;
    }
    
    .weatherimage {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .weatherimage img{
        width: 27px;
    }
    
    .hero ul {
        padding: 15px;
    }
    
    .hero ul li {
        padding: 5px;
        font-size: 15px;
        list-style-type: none;
        text-align: center;
        font-family:"Afacad Flux", serif ;
    }
    
    .herorightside {
        background-color: rgba(255, 255, 255, 0.822);
        position: absolute;
        bottom: 10%;
        right: 5%;
        padding: 0;
        margin-right: -30px;
    }
    #lastModified {
        color: yellow;
    }


}