@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
	padding: 0;
}

body{
    margin: auto;
    font-family: "Afacad Flux", serif;
}

header {
    background-color: #8a0303;
    color: white;
    height: auto;
}

h1 {
    width: 100%;
    align-self: center;
}

nav {
    position: absolute;
    display: block;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    font-size: large;
    font-weight: 400;
}

main { 
    max-width: 100%;
    display: block;
    margin: 1rem auto;
}

main h2 {
    text-align: center;
    margin: 3rem 0 1rem 0;
}

.main figure {
    width: 300px;
    height: 250px;
    margin: 1rem;
}

.main figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main figcaption {
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8a0303;
    padding: 10px;
    height: 90px;
}

footer p {
    text-align: center;
    color: white;
}

#currentyear {
    color: white;
}

@media screen and (max-width: 640px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px auto ;
        height: auto;
    }

    header h1 {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        height: auto;
    }

    header h1, #menu {
        padding: 0 1rem;
    }

    #menu {
        display: block;
        align-self: center;
        justify-self: right;
    }

    #menu::before {
        content: "\f009";
        font-family: "Afacad Flux", serif;
        color: white;
        font-size: 2rem;
        font-weight: 900;
    }
    
    .show #menu::before {
        content: "\f00d";
        font-family: "Afacad Flux", serif;
        color: white;
        font-size: 2rem;
        font-weight: 900;
    }

    nav {
        position: relative;
        display: none;
        grid-column: 1/3;
        grid-row: 2/3;
        margin: 0 auto;
        background-color: rgb(250, 241, 224);
        width: 100%;
    }

    .show nav{
        display: block;
    }

    .navigation li {
        margin: 1rem;
    }

    .navigation li a {
        display: block;
        color: #8a0303;
        font-weight: lighter;
        transition: 0.5s;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
    }

    .navigation li a:hover {
        background-color: #8a0303;
        color: white;
        border-radius: 5px;
        opacity: .9;
    }
    
    main {
        margin: 0 1rem;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem auto 3rem auto;
        text-align: center;
    }

    .main figure {
        margin-bottom: 2rem;   
    }

}